h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

body, html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif; }

main {
  height: calc(100% - 50px); }

/* HEADER STYLES */
.header-title {
  color: #FFFFFF;
  font-size: 20px;
  margin: 0px;
  line-height: 50px;
  text-align: center;
  font-weight: 100; }

.header {
  background-color: #36469c;
  height: 50px;
  margin: 0px; }

/* LIST NAV */
.mylist-nav {
  background-color: #eeeeee;
  width: 220px;
  height: 100%;
  float: left; }

.mylist-header {
  color: #b4b4b4;
  font-size: 16px;
  text-align: center;
  height: 50px;
  line-height: 50px; }

.mylists {
  margin: 0px;
  padding: 0px; }

.mylist-el {
  color: #FFFFFF;
  background-color: #b4b4b4;
  list-style: none;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  transition: border-color 200ms ease-in, opacity 200ms ease-in;
  cursor: pointer; }

.mylist-el:hover {
  border-color: #555555;
  transition: border-color 200ms ease-in; }

.mylist-input {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #b4b4b4;
  outline: 0px;
  box-sizing: border-box;
  width: calc(100% - 10px*2);
  transition: border-color 200ms ease-in; }

.mylist-input:hover, .mylist-input:focus {
  border-color: #36469c;
  transition: border-color 200ms ease-in; }

/* content-section */
.content {
  width: calc(100% - 220px);
  float: right;
  height: 100%; }

/* active-list stles */
.main-content {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding: 0px; }

.list-title {
  color: #b4b4b4;
  font-size: 24px;
  font-weight: 600;
  display: inline-block; }

.list-header {
  height: 20px; }

.delete-list-button {
  color: #FFFFFF;
  background-color: #d9534f;
  padding: 6px 8px 6px 8px;
  margin: 0px;
  border: 0px;
  cursor: pointer;
  opacity: .2;
  transition: opacity 200ms ease-in; }

.delete-list-button:hover {
  opacity: 1;
  transition: opacity 200ms ease-in; }

.delete-list-button:focus {
  outline: 0px; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.active-list {
  list-style: none; }

.active-list-item {
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 20px;
  color: #b4b4b4;
  transition: border-color 200ms ease-in; }

.active-list-item:hover {
  border-color: #b4b4b4;
  border-width: 2px;
  border-style: solid;
  transition: border-color 200ms ease-in;
  cursor: pointer; }

.active-list-item-selected {
  border-color: #36469c !important;
  transition: border-color 200ms ease-in; }

.todo-input {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: #eeeeee;
  transition: border-color 200ms ease-in;
  outline: 0px; }

.todo-input:hover, .todo-input:focus {
  border-color: #36469c;
  border-width: 2px;
  transition: border-color 200ms ease-in; }

.item-checkbox {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background-color: #FFFFFF;
  margin-right: 15px;
  border: 2px solid #b4b4b4;
  transition: border-color 200ms ease-in, opacity 200ms ease-in, text-decoration 200ms ease-in; }

.item-checkbox-checked {
  background-color: #36469c;
  border-color: #36469c;
  opacity: 0.4;
  transition: opacity 200ms ease-in; }

.item-checkbox-checked:hover {
  opacity: .6;
  transition: opacity 200ms ease-in; }

.item-checkbox:hover {
  border-color: #36469c;
  transition: border-color 200ms ease-in, opacity 200ms ease-in; }

.item-completed {
  opacity: .3 !important;
  text-decoration: line-through;
  transition: opacity 200ms ease-in, border-color 200ms ease-in, text-decoration 200ms ease-in !important; }

.delete-button {
  width: 15px;
  height: 15px;
  background-color: #d9534f;
  opacity: .2;
  display: inline-block;
  float: right;
  border: 2px #d9534f solid;
  color: #FFFFFF;
  vertical-align: middle;
  text-align: center;
  line-height: 16px;
  font-size: 18px;
  font-weight: 400;
  transition: opacity 200ms linear; }

.delete-button:hover {
  opacity: 1;
  transition: opacity 200ms linear; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fade-in {
  opacity: 1;
  animation: fadein 200ms linear; }

@keyframes checked-fadein {
  0% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
.checked-fadein {
  opacity: 1 !important;
  animation: fadein 200ms linear; }

@keyframes fadeout {
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.fadeout-el {
  animation: fadeout 800ms linear; }

/*# sourceMappingURL=styles.css.map */
